{% extends "base.html" %}
{% block title %} Homepage {% endblock %}
{% block head%}
{{super()}}
<style>
  
</style>
{% endblock %}


{% block content %}

<div class="container">
  <h1 class="mt-5">Welcome to the NFC East</h1>
  <br>

</div>
<div class="container">
  <<h4> This app was developed to give users a basic understanding of the NFL,
     specifically the teams in the national football conference in the
     eastern division. It gives the user the ability to add there favorite players
     to any team as well as add any team they want.  </h4>

</div>

<div class="container">
  <img  src="{{ url_for('static', filename='img/nfceast.jpg') }}"
   alt="Profile Picture" width="300">
</div>

{% endblock %}
