{% extends "base.html"%}
{% block title %}Add Breed{% endblock %}
{% block head%}
{{super()}}
  <style>
    body {
      padding: 75px;
    }

  </style>
{% endblock %}
{% block content%}

  <div class="container">
    <h1 class="mt-5"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Player:</h1>
    <form action="/player/add" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" placeholder="Enter the player's Name" required="true">
      </div>
      <div class="form-group">
        <label>Height</label>
      <input class="form-control" type="text" name="height" placeholder="Enter the player's height:" required="true">
      </div>
      <div class="form-group">
        <label>Weight</label>
        <input class="form-control" type="text" name="weight" placeholder="Enter the player's weight:" required="true">
      </div>
      <div class="form-group">
        <label>Position</label>
        <input class="form-control" type="text" name="pos" placeholder="Enter the player's position:" required="true">
      </div>
      <div class="form-group">
        <label>Team Name</label>
        <input class="form-control" type="text" name="team" placeholder="Enter the player's Team:" required="true">
      </div>
      <div class="form-group">
      If this player's team is not in the database, add it here: <a href="/team/add" class="btn btn-primary" role="button" aria-disabled="true">Add Team</a>
    </div>

      <button type="submit" class="btn btn-primary">Add Player</button>
    </form>
  </div>

{% endblock%}
