{% extends "base.html"%}
{% block title %}Edit Player{% endblock %}
{% block head%}
{{super()}}
  <style>
    body {
      padding: 75px;
    }
    img {
      height: 100;
      width: 100;
      border-radius:180px;
    }
  </style>
{% endblock %}
{% block content%}

<div class="container">
  <h1 class="mt-5"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Player:</h1>
  <form action="/player/edit/{{player.id}}" method="post">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="name" value="{{player.name}}" required="true">
    </div>
    <div class="form-group">
      <label>Height</label>
      <input class="form-control" type="text" name="height" value="{{player.height}}" required="true">
    </div>
    <div class="form-group">
      <label>Weight</label>
      <input class="form-control" type="text" name="weight" value="{{player.weight}}" required="true">
    </div>
    <div class="form-group">
      <label>Position</label>
      <input class="form-control" type="text" name="pos" value="{{player.pos}}" required="true">
    </div>
    <div class="form-group">
      <label>Team Name</label>
        <input class="form-control" type="text" name="team" value="{{player.team.name}}" required="true">
    </div>
    

    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>

{% endblock%}
