{% extends "base.html"%}
{% block title %}All Players{% endblock %}

{% block content%}

<div class="container">
  <h1 class="mt-5"><i class="fas fa-football-ball"></i> Players:</h1>
  <div class="row bottom-margin">
    <a href="/player/add" class="btn btn-primary" role="button" aria-disabled="true">Add Players</a>
  </div>

  {% if player %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Position</th>
        <th>Team Name</th>

        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for players in player %}
      <tr>
        <th scope="row">{{players.id}}</th>
        <td>{{players.name}}</td>
        <td>{{players.height}}</td>
        <td>{{players.weight}}</td>
        <td>{{players.pos}}</td>
        <td>{{players.team.name}}</td>
        <td>
          <a href="/player/edit/{{players.id}}" class="btn btn-success" role="button" aria-disabled="true">Edit</a>
          <a href="/player/delete/{{players.id}}" class="btn btn-danger" role="button" aria-disabled="true">Delete</a>
          <button class="btn btn-warning delete_ajax_btn" data-player-id={{players.id}}>Delete Ajax</button>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3>There are no players in the database yet.</h3> {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script>
  $(document).ready(function() {
    $(".delete_ajax_btn").click(function(event) {
      var player_id = $(this).data("player-id");
      var row = $(this).parent().parent();
      swal({
          title: "Are you sure?",
          type: "warning",
          html: true,
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        },
        function(isConfirm) {
          if (isConfirm) {
            $.ajax({
                type: "DELETE",
                url: "/ajax/player/" + breed_id,
                success: function(response) {
                  console.log(response);
                  row.remove(); // remove the table row
                  swal({
                    title: "Deleted!",
                    text: response.name + " has been deleted.",
                    type: "success",
                    timer: 2500,
                    showConfirmButton: false
                  }); // end of SweetAlert
                } // end of success callback function
              }) // end of ajax call
              .fail(function(error) {
                // console.log(data);
                swal({
                  title: "Oops...",
                  text: "Deletion failed",
                  type: "error",
                  timer: 2000,
                  showConfirmButton: false
                }); // end of SweetAlert
              }); // end of fail callback function
          } // end of if confirmed block
        }); // end of confirmed function of SweetAlert
    }); // end of button click event function
  }); // end doc ready
</script>
{% endblock%}
