{% extends "base.html"%}
{% block title %}Add Team{% endblock %}
{% block head%}
{{super()}}
  <style>
    body {
      padding: 75px;
    }
    img {
      height: 100;
      width: 100;
      border-radius:180px;
    }
  </style>
{% endblock %}
{% block content%}

  <div class="container">
    <h1 class="mt-5"><i class="fas fa-football-ball"></i></i> Add Team:</h1>
    <form action="/team/add" method="post" id="add-team-form">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name of Team" required="true">
      </div>
      <div class="form-group">
        <label>Location</label>
        <textarea class="form-control" name="location" placeholder="Where the team is located" required="true"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add Team</button>
      <button type="submit" class="btn btn-primary" id="insert-ajax-btn">Add Team Ajax</button>
    </form>
  </div>

{% endblock%}

{% block scripts%}
{{super()}}
<script>
  $(document).ready(function() {
    $("#insert-ajax-btn").click(function(event) {
      event.preventDefault(); // prevent the button to submit the form
      $.ajax({
          type: "POST",
          url: "/ajax/team/add",
          data: $("#add-team-form").serialize(),
          success: function(response) {
            window.location.replace("/team"); // redirect
          } // end of success callback function
        }) // end of ajax call
        .fail(function(error) {
          // console.log(data);
          swal({
            title: "Something went wrong",
            text: "Data wasn't inserted",
            type: "error",
            timer: 2000,
            showConfirmButton: false
          }); // end of SweetAlert
        }); // end of fail callback function
    }); // end of button click event function
  }); // end doc ready
</script>
{% endblock%}
